@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #101533;
  color: white;
  overflow-x: hidden;
}

.card {
  background-color: #1e2258;
  box-shadow: -4px 5px 17px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 5px 17px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 5px 17px -5px rgba(0, 0, 0, 0.75);
}

.main-task .card {
  background-color: #2e336e;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}
.modal {
  color: black !important;
}

/* css */
.pro-image {
  width: 50px !important;
  height: 50px !important;
}

select,
input,
textarea {
  outline: none !important;
}

.cl-avatarBox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100% !important;
  height: 50px !important;
  opacity: 0;
}
.sidebar.active {
  display: block !important;
}
.cl-internal-b3fm6y {
  display: none !important;
}
.cl-userButtonPopoverFooter {
  display: none !important;
}
.mobile-menu {
  top: 50%;
  right: 10px;
}
input,
select {
  outline: none;
}
